/* add your css styles here! */
.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selectEnable { 
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

body {
    background-color: white;
    background-image: url('https://negarnamini.github.io/UX_UI_HW_20/images/gabriel-alenius-USXfF_ONUGo-unsplash.jpg'), linear-gradient(to top, rgba(30, 75, 115, 1), rgba(100, 100, 100, 1));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

img.logo {
    width: 10%;
    height: auto;
    padding-right: 10px;
}
